body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ml-05 {
  margin-left: 5px;
}

.fw-500 {
  font-weight: 600!important;
  text-align: center;
}

.box-shadow {
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.toggle-sidebar-svg {
  font-size: 25px!important;
}

.mt-0 {
  margin-top: 0!important;
}

.pt-5 {
  padding-top: 5px!important;
}

.pb-0-pb-16 {
  padding-bottom: 0;
  padding-top: 16px!important;
}

.sidebar-item {
  font-size: 16px;
}

.mt-10 {
  margin-top: 10px;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mt-30 {
  margin-top: 30px;
}

.mt-05 {
  margin-top: 5px;
}

.blue-on-hover:hover {
  background-color: rgba(190, 184, 184, 0.09);
}

@media (max-width: 450px) {
  .mobile-text {
    font-size: 10px;
  }
  .mobile-no-x-padding {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .mobile-x-padding-5 {
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}

@media (max-width: 350px) {
  .mobile-text {
    font-size: 9px;
  }
  .mobile-no-x-padding {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .mobile-x-padding-5 {
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}


.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.collaborated-users-list .list-group-item:not(:last-child) {
  border-bottom: 2px solid rgba(0,0,0,.2)
}

.collaborated-users-list .list-group-item:first-child {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.synced-device-tabs .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.synced-device-tabs li.active {
  background-color: #eff3ff;
  border: 1px solid rgba(0,0,0,.125);
}

.synced-device-tabs li, li.active {
  border-bottom: 2px solid #d8deee
}

body {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

.notification-alert {
  color: #ffffff;
  font-weight: 600;
  font-size: .8rem;
}

.notification-alert a {
  color: #ffffff;
  font-weight: 600;
  font-size: .8rem;
}

.notification-alert a:hover {
  color: #ffffff;
}

.alert {
  margin-bottom: 0!important;
}
